<!DOCTYPE html>
<html>
<%- include("partials/header"); %>
<body>
  <%- include("partials/navbar"); %>
  <main role="main" class="container">
    <div class="row">
        <div class="colm-form">
            <h1 class="text-center">Add Data</h1>
            <div class="form-container">
                <form action="/users/add" method="POST">
                    <input type="text" name="email" placeholder="Email" />
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <button type="submit" id="submit" class="btn-login">Submit</button>
                    <a href="/users" type="button" class="btn btn-light">Back</a>
                </form>
            </div>
        </div>
    </div>
  </main>
  <%- include("partials/footer"); %>
</body>

</html>