<!DOCTYPE html>
<html>
<%- include("partials/header"); %>

<body>
    <%- include("partials/navbar"); %>
    <main role="main" class="container">
        <div class="container d-flex flex-column" style="padding-top:3em; text-align: center;">
            <h1>Hai, Selamat datang <%= username %></h1>
        </div>
    </main>
    <%- include("partials/footer"); %>
</body>

</html>