<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/style-game.css" />
        <title>Rock Paper Scissor</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header>
                    <div class="row">
                        <div class="col-12">
                            <div class="header">
                                <div class="button-header">
                                    <a href="/">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="45"
                                            height="45"
                                            fill="#724C21"
                                            class="bi bi-chevron-left"
                                            viewBox="0 0 16 16"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                                                stroke="#724C21"
                                                stroke-width="1.5"
                                            />
                                        </svg>
                                    </a>
                                </div>
                                <div class="logo-header">
                                    <a href="#">
                                        <div class="d-inline-block">
                                            <img
                                                src="/assets/images/game/logo.png"
                                                width="50px"
                                                height="50px"
                                                class=""
                                                alt="logo"
                                            />
                                        </div>
                                    </a>
                                </div>
                                <div class="title-header">
                                    <h2>ROCK PAPER SCISSORS</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div class="row">
                <div class="game-section">
                    <div class="row">
                        <div class="left-section">
                            <h3 class="card-role">Player 1</h3>
                            <div class="row contentImage">
                                <div class="col">
                                    <div class="card card-player">
                                        <img
                                            src="/assets/images/game/batu.png"
                                            id="rock"
                                            name="rock"
                                            alt="batu"
                                            class="player"
                                        />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-player">
                                        <img
                                            src="/assets/images/game/kertas.png"
                                            id="paper"
                                            name="paper"
                                            alt="paper"
                                            class="player"
                                        />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-player">
                                        <img
                                            src="/assets/images/game/gunting.png"
                                            id="scissors"
                                            name="scissors"
                                            alt="scissors"
                                            class="player"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="center-section">
                            <div class="row">
                                <div class="col title-status">
                                    <h1>VS</h1>
                                </div>
                                <div class="col center-side-status hide-status">
                                    <div class="card-status">
                                        <h2></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-section">
                            <h3 class="card-role">Com</h3>
                            <div class="row">
                                <div class="col">
                                    <div class="card card-comp">
                                        <img
                                            src="/assets/images/game/batu.png"
                                            alt="rock"
                                        />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-comp">
                                        <img
                                            src="/assets/images/game/kertas.png"
                                            alt="paper"
                                        />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-comp">
                                        <img
                                            src="/assets/images/game/gunting.png"
                                            alt="scissors"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="reset-section">
                                <img
                                    id="btn_reset"
                                    name="btn_reset"
                                    src="/assets/images/game/refresh.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/assets/js/game.js"></script>
    </body>
</html>
