<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
        <link rel="stylesheet" href="/assets/css/style-login.css" />
        <title>Register</title>
    </head>
    <body>
        <div class="row">
            <div class="colm-logo">
                <img src="/assets/images/login/binar-logo.png" alt="Logo" />
                <h2>Challenge Binar Academy Chapter 5</h2>
            </div>
            <div class="colm-form">
                <div class="form-container">
                    <form action="/register" method="POST">
                        <input
                            type="text"
                            name="username"
                            placeholder="Username"
                        />
                        <input
                            type="email"
                            name="email"
                            placeholder="Email"
                        />
                        <input
                            type="password"
                            name="password"
                            placeholder="Password"
                        />
                        <button type="submit" class="btn-login">Register</button>
                        <a href="/" type="button" class="btn btn-light">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
