<!DOCTYPE html>
<html>
<%- include("partials/header"); %>

<body>
    <%- include("partials/navbar"); %>
    <main role="main" class="container">
        <div class="container d-flex flex-column" style="padding-top:3em">
            <h1>Room</h1>
            <p>
                Binar Academy , Fullstack Web Challenge Chapter 7
            </p>
        </div>
    </main>
    <%- include("partials/footer"); %>
</body>

</html>