<!DOCTYPE html>
<html>
<%- include("partials/header"); %>
<body>
  <%- include("partials/navbar"); %>
  <main role="main" class="container">
    <div class="row">
      <div class="colm-form">
        <div class="form-container">
          <h1 class="text-center">Update Data</h1>
          <form action="/users/update/<%= user.id %>?" method="POST">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Email" value="<%= user.email %>" style="margin-bottom: 1em;" />
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" value="<%= user.username %>" style="margin-bottom: 1em;"/>
            <button type="submit" class="btn-login">Update</button>
            <a href="/users" type="button" class="btn btn-light">Back</a>
          </form>
        </div>
      </div>
    </div>
  </main>
  <%- include("partials/footer"); %>
</body>

</html>