<!DOCTYPE html>
<html>
<%- include("partials/header"); %>
<body>
  <%- include("partials/navbar"); %>
  <main role="main" class="container">
    <div class="container d-flex flex-column">
      <div class="col-md-12 text-right" style="margin-top: 2em; margin-bottom: 1em;">
        <a href="/formadd" type="button" class="btn btn-primary">Add User</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% no = 1 %>
          <% data.forEach(item => { %>
          <tr>
            <td><%= no++ %></td>
            <td><%= item.username %></td>
            <td><%= item.email %></td>
            <td>
              <a class="btn btn-success btn-edit" href="/users/<%= item.id %>">Edit</a>
              <a class="btn btn-danger btn-delete" href="/users/delete/<%= item.id %>">Delete
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </main>
  <%- include("partials/footer"); %>
</body>

</html>