*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #9c835f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
    margin-top: 0px;
}

header {
    width: 100%;
    padding: 10px 20px;
}

.header {
    display: flex;
}

.logo-header,
.title-header {
    padding-left: 20px;
}

.button-header {
    width: 40px;
}

.title-header {
    width: 100%;
    text-transform: uppercase;
    color: #ffc107;
    font-size: 20px;
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col {
    position: relative;
    width: 33.33333%;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.col-12 {
    width: 100%;
}

.col-4 {
    width: 20%;
}

.game-section {
    width: 800px;
    height: 90%;
    margin: auto;
    padding: 10px;
}

.game-section > .row {
    flex-direction: column;
}

.left-section,
.center-section,
.right-section {
    position: relative;
    width: 100%;
}
.left-section > .row,
.right-section > .row {
    flex-direction: row;
}

.col.title-status {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: #bd0000;
}

.col.center-side-status {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card-role {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    letter-spacing: 0.1em;
}

.card > img {
    padding: 20px 10px;
    max-width: 90%;
    max-height: 140px;
}

.card-player:hover {
    background-color: #b68871;
    cursor: pointer;
}

.card.clicked {
    background-color: #c4c4c4;
}

.hide-status {
    display: none !important;
}

.card-status {
    width: 170px;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #4c9654;
    transform: rotate(-28.87deg);
}

.bg-draw {
    background-color: #035b0c !important;
}

.pd-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.reset-section {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.reset-section > img {
    max-width: 50px;
}

@media (min-width: 768px) {
    .col {
        width: 100%;
    }

    .left-section .col,
    .right-section .col {
        padding-left: 45px;
        padding-right: 45px;
    }

    .col.title-status {
        width: 35%;
        font-size: 5vh;
    }

    .center-section > .row {
        justify-content: center;
    }

    .center-section {
        max-width: 25%;
    }

    .left-section,
    .right-section {
        max-width: 35%;
    }

    .game-section > .row {
        flex-direction: row;
        justify-content: center;
    }

    .left-section .card-role,
    .right-section .card-role {
        text-align: center;
    }
}
